.CardForCard{
    display: flex;
    flex-direction: column;
}
.CardForCard button{
    border: none;
    background-color: rgb(10, 250, 10);
    width: 100px;
    margin-top: 10px;
}
.CardForCard input{
    width: 90%;
    height: 40px;
}