.MainBtn {
    padding: 0px;
    margin: 0px;
    color: rgba(0, 0, 0, 0.445);
}

.MainBtn button {
    border: none;
    padding: 0px;
    margin: 0px;
    align-items: center;
    background-color: rgb(228, 215, 215);
    color: rgba(0, 0, 0, 0.445);
}
.MainBtn button:hover{
    color: black;
}